<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.drewhamilton.skylight.android.nightmode">

  <application
      android:theme="@style/Theme.AppCompat">

    <!-- region Test activities -->

    <activity android:name=".TestAutoNightActivity" />

    <!-- endregion -->

  </application>

</manifest>
